/* GLOBAL VARIABLES */
body {
    background-color: rgb(72, 65, 110);
}

:root {
    --navColor: #cecef5;
}

/* Navbar.js */
.nav-items {
    list-style: none;
    display: flex;
    color: var(--navColor);
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items > li {
    padding: 10px;
}

.nav-logo {
    width: 12%;
}

/* MainContent.js */
.main-content {
    color: var(--navColor);
}